* {
  overflow-x: hidden;
}
a{
  appearance: none;
  text-decoration: none;
}

.v132_120 {
  width: 32px;
  height: 32px;
  background: url("../images/v124_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 19px;
  overflow: hidden;
}

.v132_121 {
  width: 69px;
  color: rgba(142,80,168,1);
  position: absolute;
  top: 67px;
  left: 76px;
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.v168_0 {
  width: 109px;
  color: rgba(28,28,28,1);
  position: absolute;
  top: 132px;
  left: 36px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v168_1 {
  width: 165px;
  color: rgba(28,28,28,1);
  position: absolute;
  top: 182px;
  left: 36px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v168_3 {
  width: 16px;
  height: 18px;
  background: url("../images/v168_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 152px;
  overflow: hidden;
}

.v168_4 {
  width: 16px;
  height: 18px;
  background: url("../images/v168_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 208px;
  overflow: hidden;
}

.v314_2 {
  width: 138px;
  color: rgba(28,28,28,1);
  position: absolute;
  top: 232px;
  left: 36px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v314_3 {
  width: 16px;
  height: 18px;
  background: url("../images/v168_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 180px;
  overflow: hidden;
}
