* {
    overflow-x: hidden;
}

a {
    appearance: none;
    text-decoration: none;
}

.container {
    padding-bottom: 100px;
    text-align: center;
}

.v132_120 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 64px;
    left: 19px;
    overflow: hidden;
}

.swal-button {
    background: rgba(167, 114, 190, 1);
    opacity: 1;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-weight: Bold;
    font-size: 14px;
    margin-right: 40%;
    border-collapse: collapse;
    appearance: none;
    outline: none;
}

.v132_121 {
    width: 80px;
    color: rgba(142, 80, 168, 1);
    position: relative;
    top: 35px;
    left: 68px;
    font-family: Londrina Solid;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}

.v168_0 {
    color: rgba(28, 28, 28, 1);
    margin-top: 92px;
    font-family: Open Sans;
    font-size: 16px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.v168_0bold {
    font-weight: Bold;
    color: rgba(28, 28, 28, 1);
    margin-left: 40px;
}

.v168_02 {
    color: rgba(28, 28, 28, 1);
    margin-top: 4px;
    margin-left: 7px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.v168_03 {
    color: rgba(28, 28, 28, 1);
    margin-top: 15px;
    margin-left: 23px;
    margin-right: 23px;
    font-family: Open Sans;
    font-size: 16px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    text-align: justify;
}

.v168_1 {
    color: rgba(28, 28, 28, 1);
    margin-top: 20px;
    font-family: Open Sans;
    font-size: 16px;
    opacity: 1;
    position: relative;
    text-align: left;
}

.v168_13 {
    color: rgba(28, 28, 28, 1);
    margin-top: 15px;
    margin-left: 23px;
    margin-right: 23px;
    font-family: Open Sans;
    font-size: 16px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    text-align: justify;
}

.v168_3 {
    width: 16px;
    height: 18px;
    background: url("../images/v168_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 135px;
    left: 152px;
    overflow: hidden;
}

.v168_4 {
    width: 16px;
    height: 18px;
    background: url("../images/v168_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 185px;
    left: 208px;
    overflow: hidden;
}

.v314_2 {
    width: 138px;
    color: rgba(28, 28, 28, 1);
    position: absolute;
    top: 232px;
    left: 36px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v314_3 {
    width: 16px;
    height: 18px;
    background: url("../images/v168_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 235px;
    left: 180px;
    overflow: hidden;
}