* {
    overflow-x: hidden;
}

.container {
    padding-top: 15px;
    text-align: center;
}

.v272_438 {
    margin-top: 100px;
    width: 100%;
    color: rgba(167, 114, 190, 1);
    font-family: Londrina Solid;
    font-weight: Black;
    font-size: 27px;
    opacity: 1;
    text-align: center;
    float: right;
}

.v549_66 {
    width: 133px;
    color: rgba(72, 72, 72, 1);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: center;
}

.playerv1 {
    margin-top: 13px;
    width: 90%;
}

.respostav2 {
    margin-top: 13px;
}

.respostav3 {
    margin-top: 6px;
}

.justmargin {
    margin-top: 13px;
}

.v132_120 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 64px;
    left: 19px;
    overflow: hidden;
}