* {
  overflow-x: hidden;
  overflow-y: hidden;
}
a{
  appearance: none;
  text-decoration: none;
}

.canvas{
  width: 100%;
  height: 100%;
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}
.sticker1{
  position: absolute;
  width: 195px;
  height: 98px;
  background-image:url("../images/sticker1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 65%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -49px;
  margin-left: -97.5px;
}

.sticker2{
  position: absolute;
  height: 100px;
  width: 110px;
  background-image:url("../images/sticker2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 60%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -55px;
}

.sticker3{
  position: absolute;
  height: 126px;
  width: 116px;
  top: 50%;
  left: 50%;
  margin-top: -63px;
  margin-left: -58px;
  background-image:url("../images/sticker3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 80%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker4{
  position: absolute;
  height: 125px;
  width: 125px;
  top: 50%;
  left: 50%;
  margin-top: -62.5px;
  margin-left: -62.5px;
  background-image:url("../images/sticker4.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 70%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker5{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  background-image:url("../images/sticker5.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 95% 45%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker6{
  position: absolute;
  height: 146px;
  width: 146px;
  top: 50%;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  background-image:url("../images/sticker6.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 45%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker7{
  position: absolute;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  background-image:url("../images/sticker7.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 65%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker8{
  position: absolute;
  height: 162px;
  width: 144px;
  top: 50%;
  left: 50%;
  margin-top: -81px;
  margin-left: -72px;
  background-image:url("../images/sticker8.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85% 90%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker9{
  position: absolute;
  height: 145px;
  width: 160px;
  top: 50%;
  left: 50%;
  margin-top: -57.5px;
  margin-left: -80px;
  background-image:url("../images/sticker9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.sticker10{
  position: absolute;
  height: 165px;
  width: 165px;
  top: 50%;
  left: 50%;
  margin-top: -82.5px;
  margin-left: -82.5px;
  background-image:url("../images/sticker10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 70%;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.rotation-handle {
  padding: 3px 4px;
  display: table;
  position: absolute;
  left: 46%;
  right: 50%;
  bottom: 0px;
  border-radius: 10rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  color: #000;
  cursor: move;
  background-color: white;
  border: 0.5px solid  #000;
}

.delete-handle{
  width: 15px;
  height: 15px;
  position: absolute;
  right: -0px;
  top: 0px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  color: #000;
  cursor: move;
  background-color: white;
  border: 0.5px solid  #000;
  background-image: url('../images/deleteicon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 65%;
  border-radius: 3px;
}

.resizer_tl{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color:  #000;
  border: 0.5px solid  #fff;
  z-index:2;
  top: 0px;
  left: 0px;
  cursor: nw-resize;
  border-radius: 100%;
}

.resizer_tr{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color:  #000;
  border: 0.5px solid  #fff;
  z-index:2;
  top: 0px;
  right: 0px;
  cursor: ne-resize;
  border-radius: 100%;
}
.resizer_bl{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color:  #000;
  border: 0.5px solid  #fff;
  z-index:2;
  bottom: 0px;
  left: 0px;
  cursor: sw-resize;
  border-radius: 100%;
}
.resizer_br{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color:  #000;
  border: 0.5px solid  #fff;
  z-index:2;
  bottom: 0px;
  right: 0px;
  cursor: se-resize;
  border-radius: 100%;
}
.colors{
  display: none;
}

.stickers{
  display: none;
}

.colorswrap {
  width: 110px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  top: 180px;
  left: 62px;
  box-shadow: 1.5px 1px 5px #888888;
  border: 2px solid rgb(214, 214, 214);
}

.color-field{
  height: 15px;
  width: 15px;
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(194, 194, 194);
  margin-top: 2px;
  border-radius: 100%
}

.stickerswrap{
  width: 110px;
  height: 216px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  background-color:rgb(255, 255, 255);
  box-shadow: 1.5px 1px 5px #888888;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
  position: absolute;
  top: 280px;
  left: 62px;
}

.placesticker1{
  height: 40px;
  width: 60px;
  background-image:url("../images/sticker1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 65%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 5px;
  background-position-x: 4px;
}

.placesticker2{
  height: 40px;
  width: 45px;
  background-image:url("../images/sticker2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 60%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 7px;
}

.placesticker3{
  height: 40px;
  width: 50px;
  background-image:url("../images/sticker3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 80%;
  cursor: pointer;
  box-sizing: border-box;
}
.placesticker4{
  height: 40px;
  width: 40px;
  background-image:url("../images/sticker4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 70%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 7px;
}
.placesticker5{
  height: 40px;
  width: 40px;
  background-image:url("../images/sticker5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 45%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 8px;
}
.placesticker6{
  height: 40px;
  width: 40px;
  background-image:url("../images/sticker6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 45%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 7px;
}
.placesticker7{
  height: 40px;
  width: 40px;
  background-image:url("../images/sticker7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 65%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 5px;
}
.placesticker8{
  height: 45px;
  width: 40px;
  background-image:url("../images/sticker8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 90%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: -5px;
}
.placesticker9{
  height: 40px;
  width: 55px;
  background-image:url("../images/sticker9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 90%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 2px;
}
.placesticker10{
  height: 40px;
  width: 55px;
  background-image:url("../images/sticker10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 90%;
  cursor: pointer;
  box-sizing: border-box;
  background-position-y: 2px;
}
.pen-range{
  width: 90px;
  position: absolute;
  top: 245px;
  left: 72px;
  display: none;
}

#header{
  transition: 0.3s;
}
.v268_32 {
  max-width: 100%;
  min-width: 190px;
  max-height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v272_84 {
  width: 33px;
  height: 64px;
  background-image:url("../images/toolsbar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 277.5px;
  left: 53px;
  transition: 0.3s;
}
.v270_4 {
  width: 49px;
  height: 258px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 1.5px 1px 5px #888888;
  border: 2px solid rgb(214, 214, 214);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-left: 7px;
}

@media screen and (orientation: landscape) {
  #tools {
    top:50px;
    width: 258px;
    height: 50px;
    margin-left: 45%
  }

  #showcolors{
    border-bottom: none;
    border-right: 2px solid rgb(214, 214, 214);
  }

  #pen_pencil{
    border-bottom: none;
    border-right: 2px solid rgb(214, 214, 214);
  }
  #rubber{
    border-bottom: none;
  }
  #showStickers{
    border-bottom: none;
    border-top: none;
    border-left: 2px solid rgb(214, 214, 214);
    border-right: 2px solid rgb(214, 214, 214);
  }
  #trash{
    border-bottom: none;
  }
  #toolsbar{
    top:81.5px;
    transform: rotate(-270deg);
    margin-left: 56.9%;
  }
}
.v368_2 {
  border-bottom: 2px solid rgb(214, 214, 214);
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-image: url("../images/v270_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 70%;
  
}
.v368_3 {
  border-bottom: 2px solid rgb(214, 214, 214);
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-image: url("../images/v271_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 72% 65%;
}
.v368_4 {
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-image: url("../images/v271_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 67% 47%;
  transform: rotate(-23deg);
}
.v368_5 {
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid rgb(214, 214, 214);
  border-top: 2px solid rgb(214, 214, 214);
  background: url("../images/v271_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
}
.v368_6 {
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  overflow: hidden;
  background: url("../images/v271_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 77% 75%;
  background-position-x: 6px;
}

.saveicon{
  background: url("../images/icons_save.png");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  margin-top: -30px;
  margin-right: 10px;
  overflow: hidden;
  z-index: 12;
  right: 0;
}

.swalAlert {
  background-color: #fff;
  font-family: 'Open Sans';
  height: 250px;
  width: 70%;
  overflow-y: hidden;
  border-radius: 12px;
}