
*, *::before, *::after {
  box-sizing: border-box;
}

.body2{
  height: 460px;
}

input{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus{
  outline: none;
}

.row{
  display: flex;
  margin-top: 182px;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.v103_161 {
  width: 96%;
  height: 43px;
  background: rgba(245,245,245,1);
  opacity: 1;
  border: 1px solid rgba(199,198,198,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
  padding-left: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}

.v103_163 {
  width: 96%;
  height: 43px;
  background: rgba(245,245,245,1);
  opacity: 1;
  border: 1px solid rgba(198,197,197,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
  padding-left: 24px;
  font-size: 14px;
  display: inline-block;
  margin-right: -50px;
  margin-bottom: 20px;
}



@media screen and (max-width:620px) {
  .v103_155{
    width: 100%;
  }
  .v103_163{
    width: 100%;
  }

  .costum-field{
    width: 80%;
  }

  .v103_161{
    width: 100%;
  }
}

.v103_166 {
  width: 100%;
  height: 42px;
  background: rgba(167,114,190,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  padding-left: 4px;
  padding-top: 7px;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width:1000px) {
  .v103_166{
    width: 50%;
  }
}

@media screen and (max-width:1000px) {
  .v104_22{
    width: 62%;
  }
}

@media screen and (max-width:2000px) {
  .v103_155{
    width: 100%;
  }
  .v103_166{
    width: 35%;
  }

  .v104_22{
    width: 62%;
  }
}

.inputtoggle{
  height:43px;
}

.v103_168 {
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url("../images/v121_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.v103_169 {
  width: 100%;
  color: rgba(167,114,190,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  float: right;
  margin-top: 55px;
}
.v121_2 {
  color: rgba(130,130,130,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: relative;
  float: left;
  margin-top: -53px;
  margin-left: 25px;
}

.v106_6 {
  width: 133px;
  color: rgba(167,114,190,1);
  position: fixed;
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  bottom: 20px;
  left: 0px;
  z-index: 12;
}
.v106_7 {
  width: 133px;
  color: rgba(167,114,190,1);
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: fixed;
  bottom: 20px;
  z-index: 12;
  right: 20px;

}

.v190_6 {
  width: 200px;
  height: 36px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  float: left;
  margin-left: 17px;
  margin-top: 25px;
  overflow: hidden;
}

.costum-field input:focus + .v103_162{
  visibility: hidden;
}

.costum-field input:valid + .v103_162{
  visibility: hidden;
}

.costum-field input:focus + .v121_2{
  visibility: hidden;
}

.costum-field input:valid + .v121_2{
  visibility: hidden;
}

.costum-field{
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

#app-footer {
  border-top: none;
}

.swalAlert {
  background-color: #fff;
  font-family: 'Open Sans';
  height: 225px;
  width: 80%;
  overflow-y: hidden;
  border-radius: 12px;
}

#app-footer {
  width: 100%;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: fixed;
  left: 0px;
  overflow: hidden;
  z-index: 12;
  bottom: 0;
}

@media screen and (max-width:300px) {
  .v121_2{
    font-size: 13.8px;
  }

  .v103_168{
    margin-left:9px;
  }

  .v103_166{
    font-size: 17.5px;
    height: 38px;
  }
}