* {
  overflow-x: hidden;
}

a{
  appearance: none;
  text-decoration: none;
}


.row{
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}

.v124_45 {
  width: 100%;
  min-height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v124_97 {
  color: rgba(167,114,190,1);
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  width: 100%;
  position: relative;
  float: left;
  margin-top: 45px;
}

.v132_161 {
  margin-left: 40px;
  display: inline-block;
  width: 96px;
  height: 165px;
  background: url("../images/v132_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  overflow: hidden;
  top: 20px;
  margin-bottom: 15px;
}

.v124_103 {
  display: inline-block;
  width: 182px;
  color: rgba(53,53,53,1);
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  top: -30px;
}

.v124_99 {
  width: 100%;
  height: 32px;
  background: rgba(251,107,71,1);
  opacity: 1;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

.v124_101 {
  width: 100%;
  height: 32px;
  background: rgba(251,107,71,1);
  opacity: 1;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width:1000px) {
  .v124_101{
    width: 60%;
  }

  .v124_99{
    width: 60%;
  }
}

@media screen and (max-width:620px) {
  .v124_45{
    width: 100%;
  }
  .v124_101{
    width: 70%;
  }

  .v124_99{
    width: 70%;
  }
}

.v140_12 {
  width: 32px;
  height: 32px;
  background: url("../images/v140_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  float:left;
  margin-top: 60px;
  overflow: hidden;
  margin-left: 10px;
}
.v219_46 {
  width: 160px;
  color: #B443A1;
  position: relative;
  top: 65px;
  font-family: "Londrina Solid";
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  opacity: 1;
  text-align: right;
  float: right;
  margin-right: 10px;
  background-image: url("../images/v219_45.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px, 22px;
}

.title{
  position: absolute;
  top:40px;
  left: 50%;
  margin-left: -76.75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;

}

#Progress_Status {
  position: absolute;
  left: 50%;
  width: 216px;
  margin-left: -108px;
  height: 13px;
  background-color: #F4F4F4;
  border: 1px solid #C8C8C8;
  position: absolute;
  margin-top: -60px;
  border-radius: 12px;
}
  
#myprogressBar {
  width: 0%;
  height: 13px;
  background-color: #1E84E2;
  border-radius: 12px;
}
  

.audio{
  margin-top: 30px;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

audio{
  outline: none;
}

#btnRecord{
  width: 93px;
  height: 35px;
  background: #7A8ED8;
  border: 1px solid #4659A0;
  box-sizing: border-box;
  border-radius: 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color:#fff;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin-right: 5px;
}

#btnStop{
  width: 93px;
  height: 35px;
  background: #5BC3DA;
  border: 1px solid #2E8092;
  box-sizing: border-box;
  border-radius: 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color:#fff;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  margin-left: 5px;
}