.body2 {
    height: 600px;
}

.v132_120 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top: -13px;
    margin-bottom: 10px;
    left: 19px;
    overflow: hidden;
}

.noscroll {
    overflow: hidden;
}

main {
    padding-top: 80px;
}

.row {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.smallkidimg {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    -ms-transform: translateZ(0);
    /* IE 9 */
    -webkit-transform: translateZ(0);
    /* Chrome, Safari, Opera */
    transform: translateZ(0);
    pointer-events: none;
}

.criacoesimg {
    object-fit: cover;
    max-width: 100%;
    pointer-events: none;
}

.v549_186 {
    width: 26px;
    height: 26px;
}


/* responsive media queries*/

@media screen and (max-width:1000px) {
    .v124_42 {
        width: 40%;
    }
    .v124_43 {
        width: 40%;
    }
    .v114_0 {
        width: 40%;
    }
    .v115_2 {
        width: 40%;
    }
    .v122_435 {
        width: 40%;
    }
}

@media screen and (max-width:620px) {
    .v103_280 {
        width: 100%;
    }
    .v124_42 {
        width: 80%;
    }
    .v124_43 {
        width: 80%;
    }
    .v114_0 {
        width: 80%;
    }
    .v115_2 {
        width: 80%;
    }
    .v122_435 {
        width: 80%;
    }
}

.v103_280 {
    max-width: 100%;
    min-width: 190px;
    min-height: 850px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}


/* SISTEMA DE AVALIAÇÃO DE ESTRELAS */

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #ffc700;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #ffc700;
}


/* FIM DA AVALIAÇÃO ESTRELAS */


/* COMENTÁRIOS */

.comment-section {
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    overflow: hidden;
}

.comment {
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment {
    color: #808080;
    overflow: hidden;
}

.comment.author-comment {
    color: #60686d;
    justify-content: flex-end;
}


/* User and time info */

.comment .info {
    width: 17%;
}

.comment.user-comment .info {
    text-align: right;
}

.comment.author-comment .info {
    order: 3;
}

.comment .info a {
    /* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span {
    /* Time */
    font-size: 11px;
    color: #9ca7af;
}


/* The user avatar */

.comment .avatar {
    width: 8%;
}

.comment.user-comment .avatar {
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar {
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img {
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img {
    float: right;
}


/* The comment text */

.comment p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p {
    background-color: rgba(0, 0, 0, .03);
}

.comment.author-comment p {
    background-color: #e2f8ff;
    order: 1;
}

.user-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}


/* Comment form */

.write-new {
    width: 50%;
}

.write-new textarea {
    color: #444;
    font: inherit;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color: #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width: 100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img {
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button {
    float: right;
    background-color: #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 18px;
}


/* Responsive styles */

@media (max-width: 800px) {
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p {
        width: 100%;
    }
    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info {
        order: 3;
        text-align: left;
    }
    .comment.user-comment .avatar {
        order: 2;
    }
    .comment.user-comment p {
        order: 1;
    }
    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment {
        justify-content: flex-start;
    }
    .comment-section {
        margin-top: 1px;
    }
    .comment .info {
        width: auto;
    }
    .comment .info a {
        padding-top: 1px;
    }
    .comment.user-comment .avatar,
    .comment.author-comment .avatar {
        padding: 15px 10px 0 18px;
        width: auto;
    }
    .comment.user-comment p:after,
    .comment.author-comment p:after {
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }
    .write-new {
        width: 100%;
    }
}

.imagemredonda {
    border-radius: 50%;
}

.orange{
    width: 228px;
    height: 45px;
    color: #fff;
    font-weight: normal;
    background-color: #FC803A;
    border: 1px solid #C96046;
    box-sizing: border-box;
    border-radius: 3px;
}

.blue{
    width: 228px;
    height: 45px;
    background-color: #55B6CC;
    border: 1px solid #5A94A0;
    font-weight: normal;
    box-sizing: border-box;
    border-radius: 3px;
    background-image: url("../images/camera.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px 50px;
    background-position-x: 30px;
    padding-left: 65px;
}

.green{
    width: 228px;
    height: 45px;
    background-color:#A8C55C;
    border: 1px solid #8DA54C;
    font-weight: normal;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 30px;
    background-image: url("../images/microphone.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px 40px;
    background-position-x: 50px;
    padding-left: 55px;
}

.swal-button {
    font-family: Roboto;
    appearance: none;
    outline: none;
}

.titleaudio{
    position: absolute;
    top:35px;
    left: 45%;
    margin-left: -75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    height:40px;
    text-align: center;
    color: #000000;
    background-image: url("../images/microphone.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left;
    background-position-x: -10px;
    padding-top: 9px;
    padding-left:25px;
}



.title{
    position: absolute;
    top:40px;
    left: 45%;
    margin-left: -76.75px;
    font-family: Roboto;
    font-style: normal;
    height:40px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background-image: url("../images/writing.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left;
    background-position-x: -7px;
    background-position-y: -3px;
    padding-left:40px;
    padding-top: 7px;
}

.titleF{
    position: absolute;
    top:40px;
    left: 32%;
    margin-left: -76.75px;
    font-family: Roboto;
    font-style: normal;
    height:40px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background-image: url("../images/icon_imageFile.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left;
    background-position-x: -7px;
    background-position-y: -3px;
    padding-left:40px;
    padding-top: 7px;
}

#Progress_Status {
    position: absolute;
    left: 50%;
    width: 216px;
    margin-left: -108px;
    height: 13px;
    background-color: #F4F4F4;
    border: 1px solid #C8C8C8;
    position: absolute;
    margin-top: -65px;
    border-radius: 12px;
}

#myprogressBar {
    width: 0%;
    height: 13px;
    background-color: #1E84E2;
    border-radius: 12px;
}


.audio{
    margin-top: 70px;
    width: 100%;
    height: 53px;
    overflow: hidden;
    margin-bottom: 30px;
}

audio{
    outline: none;
}


#btnRecord{
    width: 93px;
    height: 35px;
    background: #7A8ED8;
    border: 1px solid #4659A0;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    display: inline-block;
    margin-right: 5px;
    background-image: url("../images/icon_record.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: left;
    background-position-x: 9px;
    padding-left:17px;
}

#btnStop{
    width: 93px;
    height: 35px;
    background: #5BC3DA;
    border: 1px solid #2E8092;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    display: inline-block;
    margin-left: 5px;
    background-image: url("../images/icon_stopAudio.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: left;
    background-position-x: 15px;
    padding-left:17px;
}

#btnDelete{
    width: 93px;
    height: 35px;
    background: #A8C55C;
    border: 1px solid #758B39;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
    background-image: url("../images/icon_deleteAudio.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left;
    background-position-x: 9px;
    padding-left:17px;
    display: none;
    }

#btnSend{
    width: 93px;
    height: 35px;
    background: #FECB01;
    border: 1px solid #C6A009;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    background-image: url("../images/icon_sendRecord.png");
    background-repeat: no-repeat;
    background-size: 14px 13px;
    background-position: left;
    background-position-x: 15px;
    padding-left:19px;
    display: none;
}

.wrapperWritten{
    height: 200px;
}

.wrapperFile{
    height: 220px;
    overflow: hidden;
}

#btnDeleteT{
    position: relative;
    width: 103px;
    height: 35px;
    background: #A8C55C;
    border: 1px solid #758B39;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
    background-image: url("../images/icon_deleteAudio.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left;
    background-position-x: 9px;
    padding-left:17px;
    display: inline-block;
}

#btnPubliT{
    position: relative;
    width: 103px;
    height: 35px;
    background: #FECB01;
    border: 1px solid #C6A009;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    background-image: url("../images/icon_sendRecord.png");
    background-repeat: no-repeat;
    background-size: 14px 13px;
    background-position: left;
    background-position-x: 15px;
    padding-left:19px;
    display: inline-block;
    margin-top: 150px;
}


input{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

#input{
    position: relative;
    margin-top:80px;
    position: absolute;
    width: 226px;
    height: 41px;
    background: #F4F4F4;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 2px;
    left:50%;
    margin-left:-113px;
    padding-left: 15px;
    font-family: Roboto;
    font-style:normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 19px;
    color: #797979;
}

.swalAlert1{
    height: 200px;
    overflow: hidden;
}

.v377_35 {
    position: relative;
    width: 90%;
    height: 52px;
    background: rgba(250,107,72,1);
    opacity: 1;
    border: 1px solid rgba(182,86,63,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-weight: Medium;
    font-size: 17px;
    opacity: 1;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 5px;
    margin-top:80px;
    margin-bottom:30px;
}

input[type="file"] {
    display: none;
}

#btnPubliF{
    position: relative;
    width: 103px;
    height: 35px;
    background: #242424;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color:#fff;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    background-image: url("../images/icon_sendRecord.png");
    background-repeat: no-repeat;
    background-size: 14px 13px;
    background-position: left;
    background-position-x: 15px;
    padding-left:19px;
    left:50%;
    margin-left: -51.5px;
}