:root {
    --brand-basic: #ffffff;
    --font-color: #ffffff;
    --text-color: #000000;
    --border-top: #D7D7D7;
  }
  
  [data-theme="dark"] {
    --brand-basic: #232121;
    --font-color: #1B1818;
    --text-color: #f7f7f7;
    --border-top: #000000;
  }
  
  body {
    margin: 0
  }
  
  .container {
    height: 100vh;
    background-color: var(--brand-basic);
  }
* {
    overflow-x: hidden;
}

a{
    appearance: none;
    text-decoration: none;
}
  
html,
body{
    background: var(--brand-basic);
    min-width: 190px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Alteração do estilo do footer */
#app-footer {
    width: 100%;
    height: 50px;
    background: var(--font-color);
    opacity: 1;
    position: fixed;
    left: 0px;
    overflow: hidden;
    border-top: 2.4px solid var(--border-top);
    z-index: 12;
    bottom: 0;
}

#app-footer ul {
    padding: 0px;
    margin:7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#app-footer ul a {
    color: var(--font-color);
}

.v104_15 {
    width: 100%;
    height: 46px;
    background: var(--brand-basic);
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 12;
}

.v190_34 {
    width: 140px;
    height: 25px;
    background: url("../images/v190_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin-top: 11px;
    margin-left: 13px;
    overflow: hidden;
    z-index: 12;
}

@media screen and (max-width:340px) {
    .v190_34{
      width: 131px;
      height: 25px;
      margin-top: 11px;
    }
}
  
@media screen and (max-width:320px) {
    .v190_34{
      width: 115px;
      height: 22px;
      margin-top: 13px;
    }
}

.v294_0 {
    width: 31px;
    height: 31px;
    background: url("../images/v294_0.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.v294_3 {
    width: 32px;
    height: 29px;
    background: url("../images/v294_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.v124_17 {
    width: 24px;
    height: 31px;
    background: url("../images/v124_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.v124_22 {
    width: 24px;
    height: 31px;
    background: url("../images/v124_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.swalAlert {
    background-color: var(--brand-basic);
    font-family: 'Open Sans';
    height: 225px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
}
  
.swal-footer {
    text-align: center;
    margin-top: -3px;
}
  
  
.swal-text {
    font-family: 'Open Sans';
    font-weight: 14px;
    margin-top: -5px;
    text-align: center;
}
  
.swal-title {
    margin-top: -20px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: SemiBold;
}
  
.swalAlertSucess{
    background-color: var(--brand-basic);
    font-family: 'Open Sans';
    height: 190px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--brand-basic); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--brand-basic);
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  