* {
  overflow-x: hidden;
  overflow-y: hidden;
}

a{
  appearance: none;
  text-decoration: none;
}

body{
  background: rgba(255,255,255,1);
}


/* Alteração do estilo do footer */
#app-footer {
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: fixed;
  left: 0px;
  overflow: hidden;
  border-top: 2.4px solid #D7D7D7;
  z-index: 12;
  bottom: 0;
}

#app-footer ul {
  padding: 0px;
  margin:7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#app-footer ul a {
  color: var(--font-color);
}

/* icons footer */
.v124_17 {
  width: 24px;
  height: 31px;
  background: url("../images/v124_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.v124_22 {
  width: 24px;
  height: 31px;
  background: url("../images/v124_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.v294_0 {
  width: 31px;
  height: 31px;
  background: url("../images/v294_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.v294_3 {
  width: 32px;
  height: 29px;
  background: url("../images/v294_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* header */

.v104_15 {
  width: 100%;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 12;
}

.v190_34 {
  width: 158px;
  height: 29px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  margin-top: 2px;
  margin-left: 8px;
  overflow: hidden;
  z-index: 12;
}

.v377_2 {
  width: 100%;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v378_2 {
  width: 190px;
  height: 176px;
  background: url("../images/v378_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 51px;
  transform: rotate(-7deg);
  overflow: hidden;
}
.v377_35 {
  width: 264px;
  height: 32px;
  background: rgba(250,107,72,1);
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 55px;
  border: 1px solid rgba(182,86,63,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
}

.v377_37 {
  width: 264px;
  height: 32px;
  background: rgba(254,203,1,1);
  opacity: 1;
  position: absolute;
  top: 408px;
  left: 55px;
  border: 1px solid rgba(196,160,16,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
}

.v377_39 {
  width: 264px;
  height: 32px;
  background: rgba(171,204,83,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 55px;
  border: 1px solid rgba(115,131,70,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
}

.v377_41 {
  width: 190px;
  color: rgba(167,114,190,1);
  position: absolute;
  top: 76px;
  left: 92px;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
