a{
    appearance: none;
    text-decoration: none;
}
html,
body{
    background: rgba(255,255,255,1);
    height: 100%;
    margin: 0;
    padding: 0;
}

/*GPS*/
#map{
    margin-top: -50px;
    position:absolute;
    height:100%;
    width:100%;
}

.v268_32 {
    background: rgba(255,255,255,1);
    opacity: 1;
}
.swal-button {
    background: rgba(167,114,190,1);
    opacity: 1;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: Bold;
    font-size: 14px;
    margin-right: 40%;
    border-collapse: collapse;
    appearance: none;
    outline: none;
  }

.v104_15 {
    width: 100%;
    height: 46px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 12;
    align-items: center;
}

.v190_34 {
    width: 140px;
    height: 25px;
    background: url("../images/v190_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    margin-top: 11px;
    margin-left: 13px;
    overflow: hidden;
    z-index: 12;
}

  /* Alteração do estilo do footer */
#app-footer {
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: fixed;
    left: 0px;
    overflow:hidden;
    border-top: 2.4px solid #D7D7D7;
    z-index: 12;
    bottom: 0;
    transition: 0.3s;
}
  
#app-footer ul {
    padding: 0px;
    margin:7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    overflow: hidden;
}
  
#app-footer ul a {
    color: var(--font-color);
}

.v124_17 {
    width: 24px;
    height: 31px;
    background: url("../images/v124_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.v124_22 {
    width: 24px;
    height: 31px;
    background: url("../images/v124_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.v294_0 {
    width: 31px;
    height: 31px;
    background: url("../images/v294_0.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.v294_3 {
    width: 32px;
    height: 29px;
    background: url("../images/v294_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
@media screen and (max-width:320px) {
    .v190_34{
        width: 115px;
        height: 22px;
    }
}

@media screen and (max-width:340px) {
    .v190_34{
        width: 131px;
        height: 25px;
        margin-top: 13px;
    }
}

.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0.2px solid rgb(120, 59, 148);
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin: 120px;
    padding: 0 0.5em;
    height: 40px;
    font: 300 17px Open Sans;
    overflow: hidden;
    color: rgb(90, 34, 116);
    appearance: none;
    outline: none;
}

.tkpicture{
    background: url("../images/camera_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 37px;
    height: 32.38px;
    float: right;
    margin-top: -27.5px;
    margin-right: 10px;
}

.favorites{
    background: url("../images/heart_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 29px;
    height: 30px;
    margin-top: -29px;
    float: right;
    margin-right: 15px;
}

.swalAlert {
    background-color: #fff;
    font-family: 'Open Sans';
    height: 225px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
}

.swalAlert2 {
    background-color: #fff;
    font-family: 'Open Sans';
    height: 255px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
}

.swal-footer {
    text-align: center;
    margin-top: -3px;
}


.swal-text {
    font-family: 'Open Sans';
    font-weight: 14px;
    margin-top: -5px;
    text-align: center;
}

.swal-button {
    background: rgba(167,114,190,1);
    opacity: 1;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    color: rgba(255,255,255,1);
    font-family: 'Open Sans';
    font-weight: Bold;
    font-size: 14px;
    margin-right: 40%;
    border-collapse: collapse;
    appearance: none;
    outline: none;
}

.swal-title {
    margin-top: -20px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: SemiBold;
}

.swalAlertSucess{
    background-color: #fff;
    font-family: 'Open Sans';
    height: 190px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
}
