
.row{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

@media screen and (max-width:1000px) {
  .v377_35{
    width: 60%;
  }

  .v377_37{
    width: 60%;
  }

  .v377_39{
    width: 60%;
  }
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}

@media screen and (max-width:620px) {
  .v268_32{
    width: 100%;
  }
  .v377_35{
    width: 80%;
  }

  .v377_37{
    width: 80%;
  }

  .v377_39{
    width: 80%;
  }
}

.v378_2 {
  width: 190px;
  height: 176px;
  background-image: url("../images/v378_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  transform: rotate(-7deg);
  overflow: hidden;
  position: relative;
  margin-left: 30px;
  margin: 0 auto;
}
.v377_35 {
  width: 100%;
  height: 32px;
  background: rgba(250,107,72,1);
  opacity: 1;
  border: 1px solid rgba(182,86,63,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  text-shadow: -1px 0 #b03618, 0 1px #b03618, 1px 0 #b03618, 0 -1px #b03618;
}

.v377_37 {
  width: 100%;
  height: 32px;
  background: rgba(254,203,1,1);
  opacity: 1;
  border: 1px solid rgba(196,160,16,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  text-shadow: -1px 0 #B9960D, 0 1px #B9960D, 1px 0 #B9960D, 0 -1px #B9960D;
}

.v377_39 {
  width: 100%;
  height: 32px;
  background: rgba(171,204,83,1);
  opacity: 1;
  border: 1px solid rgba(115,131,70,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
  text-shadow: -1px 0 #657A2D, 0 1px #657A2D, 1px 0 #657A2D, 0 -1px #657A2D;
}

.v377_41 {
  width: 100%;
  color: rgba(167,114,190,1);
  position: relative;
  margin-top: 98px;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  float: right;
}

.body2{
  height: 625px;
}