.body2{
  height: 94.5%;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  align-items: center;
  overflow: hidden;
}

.v120_18 {
  width: 264px;
  color: rgb(0, 0, 0);
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  margin-bottom: 20px;
}
.v120_38 {
  width: 179px;
  color: rgba(141,86,166,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.v122_535 {
  width: 137px;
  color: rgba(167,114,190,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v190_13 {
  width: 240px;
  height: 47px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
