.body2 {
    height: 635px;
}

.v124_339 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 64px;
    left: 19px;
    overflow: hidden;
}

.v124_340 {
    width: 172px;
    color: rgba(142, 80, 168, 1);
    position: relative;
    top: 35px;
    left: 68px;
    font-family: Londrina Solid;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}

.v124_341 {
    width: 150px;
    color: var(--text-color);
    position: relative;
    top: 102px;
    left: -80px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}


/* BOTÃO TOGGLE */

.buttonthing {
    margin-top: 74px;
    margin-left: 180px
}

input.apple-switch {
    position: absolute;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.activate{
    border: none; background-color: transparent; display: inline;
    position: relative;
    margin-top: 125px;
    margin-left: 40px;
    padding-bottom: 15px;
    font-size: 14px;
    text-align: center;
    background-image: url("../images/activateRecognition.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    background-size: 30px 30px;
    padding-left: 40px;
    padding-top: 15px;
    background-color: rgb(231, 231, 231);
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    width: 250px;
    margin-bottom: 20px;
    color: rgb(77, 77, 77);
    
}

.costum-field{
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.costum-field input:focus + .v121_2{
    visibility: hidden;
}

.costum-field input:valid + .v121_2{
    visibility: hidden;
}

@media screen and (max-width:620px) {
    .v103_163{
      width: 100%;
    }
  
    .costum-field{
      width: 80%;
    }
}

.v103_163 {
    width: 100%;
    height: 43px;
    background: rgba(245,245,245,1);
    opacity: 1;
    border: 1px solid rgba(198,197,197,1);
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    overflow: hidden;
    padding-left: 24px;
    font-size: 14px;
    display: inline-block;
    margin-right: -50px;
}

.v121_2 {
    color: rgba(130,130,130,1);
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    position: relative;
    float: left;
    margin-top: -32px;
    margin-left: 25px;
}

.v103_168 {
    display: inline-block;
    width: 20px;
    height: 13px;
    background: url("../images/v121_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

@media screen and (max-width:300px) {
    .v103_168{
      margin-left:9px;
    }
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    display: none;
}

input{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

* {
    overflow-x: hidden;
}
  
*, *::before, *::after {
    box-sizing: border-box;
}

input:focus{
    outline: none;
}

.swalAlert {
    background-color: #fff;
    font-family: 'Open Sans';
    height: 250px;
    width: 70%;
    overflow-y: hidden;
    border-radius: 12px;
  }
