.canvas{
  width: 100%;
  height: 100%;
  display: none;
}

.colors{
  display: none;
}

.stickers{
  display: none;
}

input[type="file"] {
  display: none;
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}

.v377_35 {
  position: absolute;
  width: 264px;
  height: 32px;
  top: 50%;
  left: 50%;
  background: rgba(250,107,72,1);
  opacity: 1;
  border: 1px solid rgba(182,86,63,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-left: -132px;
  margin-top: -16px;
}

.v268_32 {
  max-width: 100%;
  min-width: 190px;
  max-height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v272_84 {
  display:none;
}


.v270_4 {
  display: none;
}

.sucess_image{
  width: 41px;
  height: 47px;
  background: url("../images/v254_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 15px;
}

.v140_12 {
  width: 32px;
  height: 32px;
  background: url("../images/v140_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  float:left;
  margin-top: 60px;
  overflow: hidden;
  margin-left: 10px;
}