* {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}
html,
body{
    background: rgba(255,255,255,1);
    height: 100%;
    margin: 0;
    padding: 0;
}

.body2{
  height: 685px ;
}

input{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus{
  outline: none;
}

.row{
  display: flex;
  margin-top: 152px;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}


.v103_163 {
  width: 100%;
  height: 43px;
  background: rgba(245,245,245,1);
  opacity: 1;
  border: 1px solid rgba(198,197,197,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  padding-left: 24px;
  font-size: 14px;
  display: inline-block;
  margin-right: -50px;
}



@media screen and (max-width:620px) {
  .v103_155{
    width: 100%;
  }
  .v103_163{
    width: 100%;
  }

  .costum-field{
    width: 100%;
  }
}
.v103_162 {
  color: rgba(130,130,130,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: relative;
  float: left;
  margin-top: -32px;
  margin-left: 25px;
}

.v103_165 {
  width: 100%;
  color: rgba(141,85,165,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  float:left;
  margin-left: 32px;
  margin-top: 12px;
  margin-bottom: 35px;
}
.v103_166 {
  width: 100%;
  height: 42px;
  background: rgba(167,114,190,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.v104_22 {
  width: 100%;
  height: 33px;
  background-color: #F5F5F5;
  opacity: 1;
  position: relative;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(126,126,126,1);
  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-top: 7px;
  padding-left: 19px;
  margin: 0 auto;
  background-image: url("../images/v121_26.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 15px;
  background-size: 21px, 21px;
}

@media screen and (max-width:1000px) {
  .v103_166{
    width: 50%;
  }
}

@media screen and (max-width:1000px) {
  .v104_22{
    width: 62%;
  }
}

@media screen and (max-width:2000px) {
  .v103_155{
    width: 100%;
  }
  .v103_166{
    width: 35%;
  }

  .v104_22{
    width: 62%;
  }
}


.v103_168 {
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url("../images/v121_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.v103_169 {
  width: 100%;
  color: rgba(167,114,190,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  float: right;
  margin-top: 30px;
}
.v121_2 {
  color: rgba(130,130,130,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: relative;
  float: left;
  margin-top: -32px;
  margin-left: 25px;
}

.v121_78 {
  color: rgba(130,130,130,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: relative;
  float: left;
  margin-top: -32px;
  margin-left: 25px;
}
.v104_23 {
  width: 100%;
  color: rgba(167,114,190,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  float:right;
  margin-top: 32px;
  margin-bottom: 32px;
}

.v106_6 {
  width: 133px;
  color: rgba(167,114,190,1);
  position: fixed;
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  bottom: 20px;
  left: 0px;
  z-index: 12;
}
.v106_7 {
  width: 133px;
  color: rgba(167,114,190,1);
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: fixed;
  bottom: 20px;
  z-index: 12;
  right: 20px;

}

/* Alteração do estilo do footer */
#app-footer {
  width: 100%;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: fixed;
  left: 0px;
  z-index: 12;
  bottom: 0;
}

.v190_6 {
  width: 200px;
  height: 36px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  float: left;
  margin-left: 17px;
  margin-top: 25px;
}

.costum-field input:focus + .v103_162{
  visibility: hidden;
}

.costum-field input:valid + .v103_162{
  visibility: hidden;
}

.costum-field input:focus + .v121_2{
  visibility: hidden;
}

.costum-field input:valid + .v121_2{
  visibility: hidden;
}

.costum-field input:focus + .v121_78{
  visibility: hidden;
}

.costum-field input:valid + .v121_78{
  visibility: hidden;
}

.costum-field input:focus + .v121_75{
  visibility: hidden;
}

.costum-field input:valid + .v121_75{
  visibility: hidden;
}

.costum-field{
  width: 96%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.v238_0 {
  width: 100%;
  height: 640px;
  background: rgba(46,45,45,0.4099999964237213);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  display:none;
}
.v278_0 {
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  margin-top: -101.5px;
  margin-left: -128.5px;
  width: 257px;
  height: 203px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.v278_1 {
  margin: 0 auto;
  width: 41px;
  height: 47px;
  background: url("../images/v237_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  margin-top: 15px;
}
.v278_2 {
  text-align: center;
  display: none;
  width: 100%;
  color: rgba(84,84,84,1);
  position: relative;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}
.v278_3 {
  color: rgba(84,84,84,1);
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  width: 100%;
  position: relative;
  float: right;
  margin-top: 10px;
}
.v278_4 {
  width: 61px;
  height: 35px;
  background: rgba(167,114,190,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
  margin: 0 auto;
}

.v121_75 {
  color: rgba(130,130,130,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  position: relative;
  float: left;
  margin-top: -32px;
  margin-left: 25px;
}

.v137_3 {
  width: 24px;
  height: 24px;
  background: url("../images/v137_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  margin-top: -33px;
  right: 27px;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #b9b9b9;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid rgb(173, 173, 173);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
  background-color: #dccde9;
}

#app-footer {
  border-top: none;
}

@media screen and (max-width:300px) {
  .v103_162{
    font-size: 13.8px;
  }

  .v121_75{
    font-size: 13.8px;
  }

  .v121_78{
    font-size: 13.8px;
  }

  .v121_2{
    font-size: 13.8px;
  }

  .v103_165{
    font-size: 14px;
  }

  .v103_166{
    font-size: 17.5px;
    height: 38px;
  }

  .v104_22{
    font-size: 12px;
  }
  .v106_6{
    font-size: 14px;
    margin-left: -15px;
  }

  .v106_7{
    font-size: 14px;
    margin-right: -15px;
  }

  .v104_23{
    font-size: 25px;
  }

  .v103_169{
    font-size: 25px;
  }
}