.v132_120 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 74px;
    left: 19px;
    overflow: hidden;
}

.swal-button {
    background: rgba(167, 114, 190, 1);
    opacity: 1;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-weight: Bold;
    font-size: 14px;
    margin-right: 40%;
    border-collapse: collapse;
    appearance: none;
    outline: none;
}

.v132_121 {
    width: 172px;
    color: rgba(142, 80, 168, 1);
    position: relative;
    top: 45px;
    left: 68px;
    font-family: Londrina Solid;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}

#buttonsPlane {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    left: 0px;
    border-bottom: 2px solid #D7D7D7;
    margin-bottom: 30px;
}

ul {
    padding: 0px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

li {
    color: #FA6B48;
    font-family: "Londrina Solid";
    text-align: center;
    float: right;
    margin-right: 9px;
}

#btnEditicon {
    height: 20px;
    width: 20px;
    background-image: url("../images/edit_icon.png");
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    margin-right: 5px;
}

#btnDelicon {
    height: 22px;
    width: 22px;
    background-image: url("../images/delete_icon.png");
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    margin-right: 5px;
}

#btnPubliicon {
    height: 19px;
    width: 19px;
    background-image: url("../images/add_icon.png");
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    margin-right: 5px;
}

.drawings {
    position: relative;
    width: 90%;
    margin: 110px auto;
}
#drawing {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
}


