.v132_120 {
    width: 32px;
    height: 32px;
    background: url("../images/v124_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 74px;
    left: 19px;
    overflow: hidden;
}

.swal-button {
    background: rgba(167, 114, 190, 1);
    opacity: 1;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-weight: Bold;
    font-size: 14px;
    margin-right: 40%;
    border-collapse: collapse;
    appearance: none;
    outline: none;
}

.v132_121 {
    width: 172px;
    color: rgba(142, 80, 168, 1);
    position: relative;
    top: 45px;
    left: 68px;
    font-family: Londrina Solid;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}

.buttonsPlane {
    width: 100%;
    height: 58px;
    opacity: 1;
    position: relative;
    left: 0px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
    bottom: 0;
}

ul {
    padding: 0px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

li {
    font-family: "Londrina Solid";
    text-align: center;
    float: right;
    margin-right: 9px;
}

#btnEditicon {
    height: 35px;
    width: 35px;
    background-image: url("../images/edit_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    overflow: none;
    overflow: hidden;
}

#btnDelicon {
    height: 44px;
    width: 44px;
    background-image: url("../images/icon_trash.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

#btnPubliicon {
    height:42px;
    width: 42px;
    background-image: url("../images/add_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

#drawings {
    position: relative;
    width: 100%;
    margin: 90px auto;
}
.drawing {
    width:70%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    margin-left: 20%;
}

#drawingwrapper{
    border-top: 3px solid rgb(236, 236, 236);
}


