* {
  overflow-x: hidden;
  overflow-y: hidden;
}

a{
  appearance: none;
  text-decoration: none;
}

body{
  background: rgba(35,33,33,1);
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}

.v124_142 {
  width: 100%;
  min-height: 640px;
  background: rgba(35,33,33,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v124_161 {
  width: 111px;
  color: rgba(167,114,190,1);
  position: absolute;
  top: 92px;
  left: 124px;
  font-family: Londrina Solid;
  font-weight: Black;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v124_196 {
  width: 301px;
  height: 38px;
  background: rgba(81,81,81,1);
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 29px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v124_201 {
  width: 75px;
  color: rgba(177,177,177,1);
  position: absolute;
  top: 176px;
  left: 75px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v124_205 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 242px;
  left: 71px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v124_217 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 310px;
  left: 71px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v124_222 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 370px;
  left: 71px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v124_211 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 473px;
  left: 29px;
  font-family: Open Sans;
  font-weight: 1000;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v124_212 {
  width: 127px;
  color: rgba(64,138,249,1);
  position: absolute;
  top: 505px;
  left: 28px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v326_0 {
  width: 22px;
  height: 19px;
  background: url("../images/v326_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 43px;
  overflow: hidden;
}
.v326_1 {
  width: 32px;
  height: 32px;
  background: url("../images/v326_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 29px;
  overflow: hidden;
}
.v326_2 {
  width: 32px;
  height: 32px;
  background: url("../images/v326_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 29px;
  overflow: hidden;
}
.v326_3 {
  width: 32px;
  height: 32px;
  background: url("../images/v326_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 29px;
  overflow: hidden;
}

/* footer */
.v124_13 {
  width: 100%;
  height: 50px;
  background: rgba(27,24,24,1);
  opacity: 1;
  position: fixed;
  left: 0px;
  overflow: hidden;
  border-top: 2.4px solid #0D0D0D;
  z-index: 12;
  bottom: 0;
}
.v124_17 {
  width: 24px;
  height: 31px;
  background: url("../images/v124_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  left: 55px;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 10px;
  z-index:12;
}

.v124_22 {
  width: 24px;
  height: 31px;
  background: url("../images/v124_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  left: 208px;
  overflow: hidden;
  z-index:12;
}

.v294_0 {
  width: 31px;
  height: 31px;
  background: url("../images/v294_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  bottom: 0;
  margin-bottom: 10px;
  left: 128px;
  overflow: hidden;
  position: fixed;
  z-index:12;
}

.v294_3 {
  width: 32px;
  height: 29px;
  background: url("../images/v294_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  bottom: 0;
  margin-bottom: 11px;
  left: 281px;
  overflow: hidden;
  z-index:12;
}

/*header*/
.v104_15 {
  width: 100%;
  height: 46px;
  background: rgba(32,30,30,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 12;
}

.v190_34 {
  width: 158px;
  height: 29px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  margin-top: 2px;
  margin-left: 8px;
  overflow: hidden;
  z-index: 12;
}