.body2{
  height: 94.5%;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  align-items: center;
  overflow: hidden;
}
.swal-button {
  background: rgba(167,114,190,1);
  opacity: 1;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  color: rgba(255,255,255,1);
  font-family: 'Open Sans';
  font-weight: Bold;
  font-size: 14px;
  margin-right: 40%;
  border-collapse: collapse;
  appearance: none;
  outline: none;
}

.v104_48 {
  width: 175px;
  height: 33px;
  background: rgba(167,114,190,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  padding-top: 7px;
  margin-top:65px;
  margin-bottom: 25px;
}

.v104_60 {
  width: 175px;
  height: 33px;
  background: rgba(167,114,190,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Londrina Solid;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  padding-top: 7px;
}

.v106_5 {
  width: 133px;
  color: rgba(167,114,190,1);
  position: relative;
  font-family: Londrina Solid;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  bottom: 0px;
  float: right;
  margin-right: 10px;
  margin-bottom: 7px;
}
.v190_13 {
  width: 240px;
  height: 47px;
  background: url("../images/v190_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  opacity: 1;
  overflow: hidden;
}

@media screen and (max-width: 256px){
  .v190_13{
    width: 200px;
    height: 37px;
  }
  .v104_48 {
    width: 155px;
  }

  .v104_60 {
    width: 155px;
  }
}

@media screen and (min-width: 257px){
  .v104_48 {
    width: 175px;
  }

  .v104_60 {
    width: 175px;
  }
}

@media screen and (orientation: landscape){
  body{
    overflow-y: hidden;
  }
}